@media (min-width: 768px) {
     
    #selected-tab.page-index-0 {
        transition: left 0.5s;
        /*left: 0.1rem;*/
        left: 0.15rem;
    }

    #selected-tab.page-index-1 {
        transition: left 0.5s;
        left: 8rem;
    }
    
    #selected-tab.page-index-2 {
        transition: left 0.5s;
        left: 15.9rem;
    }
    
    #selected-tab.page-index-3 {
        transition: left 0.5s;
        left: 23.75rem;
    }
}

@media (max-width: 768px) {

    #selected-tab.page-index-0 {
        transition: left 0.5s;
        left: 0.1rem;
    }

    #selected-tab.page-index-1 {
        transition: left 0.5s;
        left: 5.1rem;
    }

    #selected-tab.page-index-2 {
        transition: left 0.5s;
        left: 10.1rem;
    }

    #selected-tab.page-index-3 {
        transition: left 0.5s;
        left: 15.1rem;
    }
}

#search-catalog-button:active {
    background-color: rgb(170 199 6 / var(--tw-bg-opacity))
}



@keyframes movenavigationpage {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(7.75rem);
    }
  }